<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css"/>
    <script type="text/javascript" src="/fancybox/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/kindeditor/themes/default"></script>
    <script type="text/javascript" src="/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript" src="/kindeditor/lang/zh-CN.js"></script>

    <title>知识点添加</title>
    <script type="text/javascript">
        //KindEditor脚本
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#editor_id',{
                filterMode : false,
                items: ["source", "|", "undo", "redo", "|", "preview", "print", "template", "code", "cut", "copy", "paste", "plainpaste", "wordpaste", "|", "justifyleft", "justifycenter", "justifyright", "justifyfull", "insertorderedlist", "insertunorderedlist", "indent", "outdent", "subscript", "superscript", "clearhtml", "quickformat", "selectall", "|", "fullscreen", "/", "formatblock", "fontname", "fontsize", "|", "forecolor", "hilitecolor", "bold", "italic", "underline", "strikethrough", "lineheight", "removeformat", "|", "image", "multiimage", "flash", "media", "insertfile", "table", "hr", "emoticons", "baidumap", "pagebreak", "anchor", "link", "unlink", "|", "about"]
            });
            editor.sync();
        });
    </script>

    <script>
        function chenge() {
                $.fancybox({
                    'href':'#adddivtest'
                });
                return false;
        }
    </script>
    <script>
        function chenge1() {
            document.getElementById("from1").submit();
        }
    </script>
    <script>
        function quxiao() {
            document.getElementById("form2").submit();
        }
    </script>
</head>
<body>
<div style="width: 100%;"><h1 style="text-align: center;">请输入学习笔记</h1></div>
<div>
    <form action="/main/updateStudy" id="from1" onsubmit=" return chenge()" >
        <div style="float: left;width: 30%;">
            <input style="display: none;" type="text" name="username" th:value="${study.getUsername()}" />
        <input style="display: none" type="text" name="id" readonly="readonly" th:value="${study.getId()}"/>
        <h2 style="float: left">请输入知识点名称：</h2><input style="margin-top: 20px; width: 200px;height: 30px;font-size: large" type="text" id="studyname" name="studyname" th:value="${study.getStudyname()}"/>
        </div>
        <div style="float: left; width: 30%;">
            <h2 style="float: left">请选择知识类型：</h2> <select style="margin-top: 20px; width: 200px;height: 30px;font-size: large" name="type">
            <option th:text="${study.getType()}"></option>
        </select>
        </div>
        <div style="float: left;">
            <h2 th:if="${f!=true}" style="float: left">是否允许他人访问：</h2>
            <select th:if="${f!=true}" name="permission"  style="margin-top: 20px; width: 100px;height: 30px;font-size: large">
                <option value="1">是</option>
                <option value="0">否</option>
            </select>
        </div>
	    <textarea id="editor_id" style="width: 100%;height:500px;" name="studytxt" th:text="${study.getStudytxt()}">
        </textarea>
        <input th:if="${f!=true}" type="submit"  value="提交" style="height:50px;width:80px;display:inline-block;"/>
    </form>
    <form  id="form2" action="/main/view/">
        <input type="submit" style="width: 80px;height: 80px;" value="返回" /><br/>
        <input type="text" style="display: none;" name="type" th:value="${study.getType()}" readonly="readonly" />
        <input style="display: none" name="myUsername" th:value="${myUsername}" />
        <input style="display: none" name="otherUsername" th:value="${study.getUsername()}" />
    </form>
</div>
<div style="display:none;">
<div id="adddivtest">
    <form>
    <h3>确认修改文本吗？</h3>
        <input type="button" onclick="chenge1()" value="确认" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" onclick="quxiao()" value="取消" />
    </form>
</div>
</div>
</body>
</html>
