<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body  style="background-image: url('/111111.jpeg');background-size:cover;">
<div style="width: 100%; height: 150px;"></div>

<div style="width: 30%;border: solid 1px;margin: auto auto">
    <form action="/select/userName/">
        <table style="margin: auto;margin-top:20px;">
            <tr>
                <td style="text-align: right">请输入查找用户姓名:</td>
                <td><input type="text" name="username"/>
                    <input style="display: none" type="text" name="myUsername" th:value="${myUsername}"/></td>
            </tr>
            <tr style="height: 50px;">
                <td style="margin: auto"><input type="submit" value="查找"/></td>
                <td style="margin-right: 10px"> <a href="/main/startView">返回</a> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
